<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="FSTTests" thread-count="2" parallel="classes"> 
 
    <test name="testngTest">
        <classes>
            <class name="activities.Activity1_Test" />
             <class name="activities.Activity_7_Test" />
              
            
        </classes>
    </test>

</suite>